<div class='navigation'>
<ul>
  <li><a href='#/links' class='selected index'>All Links</a></li>
  <li><a href='#/shorten' class='create'>Shorten</a></li>
  <li><a href='' ng-click='signout()' class='logout'>Logout</a></li>
</ul>
</div>
<div id='container' ng-controller="LinksController">
  <input type="text" ng-model="filterBox">
  <div id='container'>
    <div class='link' ng-controller="LinksController" ng-repeat="link in data.links | orderBy: '-visits'" ng-show ="checkFilter(link.title)">
      <img src='assets/redirect_icon.png'/>
      <div class='info'>
        <div class='visits'><span class='count'>{{link.visits}}</span>Visits</div>
        <div class='title'>{{link.title}}</div>
        <div class='original'>{{link.url}}</div>
        <a href='{{link.baseUrl}}/{{link.code}}'>{{link.baseUrl}}/{{link.code}}</a>
      </div>
    </div>
  </div>

</div>
